<% provide(:title, 'Acetis::Home Page') %>
<h2>Welcome</h2>
<p>to Aceti Wine &amp; Spirit's new website.</p>
<p>Keep checking back for new updates!</p>
<a href='#' class='btn btn-primary'>Sign Up</a> for our mailing list.
